@import "header.scss";


#grid{
	@include outer-container;
	h2{
		font-size: 4em;
		margin: 0 0 75px 0;
	}
	.item{
		width: 24%;
		margin-bottom: 10px;
		img{
			width: 100%;
		}
	}
	/*
	.item:hover{
		position: fixed;
		width: 50%;
		z-index: 101;
	}
	*/
	
}