@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0 10px;
  padding: 0;
  width: 100%;
  font: 10pt Lato, sans-serif;
  background-color: #ededed; }

#header {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  color: #2c2c2c;
  font-weight: 700;
  margin-bottom: 75px;
  margin-top: 15px; }
  #header:after {
    content: "";
    display: table;
    clear: both; }
  #header #name {
    font-size: 3em;
    text-align: right; }
    #header #name a {
      text-decoration: none;
      color: #2c2c2c;
      float: right; }
    #header #name a:hover {
      color: #0081ff; }
  #header ul {
    padding-left: 0;
    margin-top: 20px;
    float: left; }
    #header ul li {
      display: inline;
      padding-right: 25px;
      padding-left: 0;
      margin-left: 0; }
      #header ul li a {
        text-decoration: none;
        color: #2c2c2c;
        font-size: 1.2em; }
  #header a:hover {
    color: #0080ff; }

#grid {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto; }
  #grid:after {
    content: "";
    display: table;
    clear: both; }
  #grid h2 {
    font-size: 4em;
    margin: 0 0 75px 0; }
  #grid .item {
    width: 24%;
    margin-bottom: 10px; }
    #grid .item img {
      width: 100%; }
