@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import "css/bourbon/bourbon"; // or "bourbon" when in Rails
@import "grid-settings";
@import "css/neat/neat";

$font-stack: Lato, sans-serif;
$grey-dark: rgb(44, 44, 44);
$zach-blue: rgb(0, 128, 255);
$mobile: new-breakpoint(max-width 960px 4);
$light-grey: rgb(237, 237, 237);

body {
    margin: 0 10px;
    padding: 0;
    width: 100%;
    font: 10pt $font-stack;
    background-color: rgb(237, 237, 237);
}