//@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Oswald');
@import "css/bourbon/bourbon"; // or "bourbon" when in Rails
@import "grid-settings";
@import "css/neat/neat";
@font-face{
    font-family: Open Sans;
    src: url('plugins/fonts/Open_Sans/OpenSans-Regular.ttf');
}


body {
    margin: 0;
    padding: 0;
    width: 100%;
    background: url('images/background.png');
    background-repeat:no-repeat;
    background-size:cover;
}





            


















  
