
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700,900')
$red: #4DD0E1
$black: #333
$dark_red: #00BCD4
$mobile: 700px

body,html
    width: 100%
    height: 100%
    margin: 0
    padding: 0
    font-size: 12px
    font-family: 'Roboto Mono', Arial, sens-serif
    color: $black
    p
    a
        text-decoration: none
        color: $black
        transition: color 0.1s ease
    .container
        max-width: 1200px
        margin-left: auto 
        margin-right: auto
        padding: 0 2rem
    .separator
        height: 3px 
        width: 30px
        background-color: $black
        margin: 0 0 8rem
    #page_wrap
        position: relative
        min-height: 100%
        #header_wrap
            background-color: #fff
            height: 65px
            padding-top: 20px
            h1
                font-size: 1.2rem
                font-weight: 400
                margin: 1rem 0 0 0
                display: inline-block
            ul 
                display: inline
                float: right
                margin: 1rem 0 0 0
                li
                    display: inline
                    margin-left: 2rem
                    font-size: 1.2rem
                    a:hover
                        color: $red
                        text-decoration: line-through
                li.active
                    color: #c0c0c0
            @media (max-width: $mobile)
                height: 100px
                ul 
                    display: block
                    float: none
                    padding: 0
                    li 
                        margin-right: 2rem 
                        margin-left: 0
        #work_wrap
            padding-bottom: 5rem
            h1
                font-size: 2.5rem
                margin: 7rem 0 2.7rem
                color: $red
            h2
                font-size: 2rem
                margin-bottom: 1rem
            #work_list
                list-style: none
                margin: 0
                padding: 0
                li
                    display: inline-block
                    vertical-align: top
                    width: 49%
                    margin-right: 1%
                    margin-bottom: 3rem
                    @media (max-width: $mobile)
                        width: 100%
                        margin-right: 0
                    .image_wrap
                        position: relative
                        img
                            width: 100%
                    .image_wrap:hover .hover_box
                        position: absolute
                        background-color: rgba(255,255,255,.3)
                        top: 0
                        bottom: 0
                        right: 0
                        left: 0
                        transition: background-color 0.3s ease
                    h3
                        font-size: 1.3rem
                        font-weight: 700
                        margin-top: .5rem
                        margin-bottom: 0
                        transition: color 0.1s ease
                    h3:hover
                        color: $red
                        text-decoration: line-through
                    p
                        margin-top: .3rem
                        margin-bottom: 0
                        height: 3rem
                        height: auto
                li:nth-child(2n+2)
                    margin-right: 0
        #about_wrap
            padding-top: 5rem
            padding-bottom: 10rem
            #headshot
                float: left
                width: 35%
                padding-right: 10%
                img 
                    width: 100%
                    border-radius: 50%
                @media (max-width: $mobile)
                    width: 100%
                    float: none
                    padding: 0
            #description
                float: left
                width: 54%
                @media (max-width: $mobile)
                    width: 100%
                    float: none
                    padding: 0
                p
                    font-size: 1.2rem
                    font-weight: 400
                    line-height: 2.1rem
                    a 
                        color: $red
                    a:hover
                        color: $dark_red
                        text-decoration: line-through
                h4
                    font-size: 1.5rem
                    margin-bottom: .5rem
                ul 
                    margin: 0
                    padding: 0
                    list-style: none
                    font-size: 1.2rem
                    li 
                        margin-top: .5rem
                    a
                        color: $red
                    a:hover
                        color: $dark_red
                        text-decoration: line-through
        #about_wrap:after
            clear: both
            content: ""
            display: block
        .detail_page
            padding-bottom: 100px
            a
                color: $red
            a:hover
                color: $dark_red
                text-decoration: line-through
            .title_section
                margin-bottom: 5rem
                .project_title
                    font-size: 6rem
                    margin-bottom: 0
                    //border-top: 1px solid #333
                .project_categorizations
                    list-style: none
                    margin: 10px 0 0 0
                    padding: 0
                    li 
                        font-size: 1.2rem
                        display: inline
                        color: $black
                        margin-right: 1.5rem
            h2
                font-size: 24px
                margin-top: 4rem
            p
                font-size: 1.1rem
                max-width: 600px
                line-height: 1.8rem
                margin-top: 1.5rem
                margin-bottom: 2rem
                color: $black
            .portfolio_image
                display: inline-block
                vertical-align: top
                margin-bottom: 3rem
                img 
                    border: 1px solid #f0f0f0
                    width: 100%
                .caption 
                    font-size: 1rem
                    font-weight: 700
                    margin-top: .5rem
                    display: block
                    color: $black
            .portfolio_image.third
                width: 30%
                margin-right: 2%
            .portfolio_image.half
                width: 46%
                margin-right: 3%
            .portfolio_image.full
                width: 98%
                margin-right: 1%
            .portfolio_image.three_quarters
                width: 75%
                margin-right: 5%
            .portfolio_image.fourth
                width: 22%
                margin-right: 2%
            .project_nav
                width: 100%
                margin: 0
                padding: 0
                border-top: 3px solid $black
                color: #dadada
                clear: both
                .project_link
                    margin: 0
                    padding: 0
                    width: 50%
                    display: inline-block
                    vertical-align: top
                    h3
                        color: $black
                        margin-top: 5px
                        font-size: 1.5em
                    h4
                        color: #d0d0d0
                        margin-bottom: 5px
                        font-size: 1.2em
                        font-weight: 400
                .previous
                    text-align: left
                .next
                    text-align: right
        #footer_wrap
            position: absolute
            bottom: 0
            left: 0
            right: 0
            height: 50px
            background-color: #f7f7f7
            .container
                padding-top: 1.5rem

