@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700");
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Roboto Mono", Arial, sens-serif;
  color: #333; }
  body a, html a {
    text-decoration: none;
    color: #333;
    transition: color 0.1s ease; }
  body .container, html .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2rem; }
  body .separator, html .separator {
    height: 3px;
    width: 30px;
    background-color: #333;
    margin: 0 0 10rem; }
  body #page_wrap, html #page_wrap {
    position: relative;
    min-height: 100%; }
    body #page_wrap #header_wrap, html #page_wrap #header_wrap {
      background-color: #fff;
      height: 65px;
      padding-top: 20px; }
      body #page_wrap #header_wrap h1, html #page_wrap #header_wrap h1 {
        font-size: 1.2rem;
        font-weight: 700;
        margin: 1rem 0 0 0;
        display: inline-block; }
      body #page_wrap #header_wrap ul, html #page_wrap #header_wrap ul {
        display: inline;
        float: right;
        margin: 1rem 0 0 0; }
        body #page_wrap #header_wrap ul li, html #page_wrap #header_wrap ul li {
          display: inline;
          margin-left: 2rem;
          font-size: 1.2rem; }
          body #page_wrap #header_wrap ul li a:hover, html #page_wrap #header_wrap ul li a:hover {
            color: #4DD0E1;
            text-decoration: line-through; }
        body #page_wrap #header_wrap ul li.active, html #page_wrap #header_wrap ul li.active {
          color: #c0c0c0; }
      @media (max-width: 700px) {
        body #page_wrap #header_wrap, html #page_wrap #header_wrap {
          height: 100px; }
          body #page_wrap #header_wrap ul, html #page_wrap #header_wrap ul {
            display: block;
            float: none;
            padding: 0; }
            body #page_wrap #header_wrap ul li, html #page_wrap #header_wrap ul li {
              margin-right: 2rem;
              margin-left: 0; } }
    body #page_wrap #work_wrap, html #page_wrap #work_wrap {
      padding-bottom: 5rem; }
      body #page_wrap #work_wrap h1, html #page_wrap #work_wrap h1 {
        font-size: 3rem;
        margin: 10rem 0 2.7rem;
        color: #4DD0E1; }
      body #page_wrap #work_wrap h2, html #page_wrap #work_wrap h2 {
        font-size: 2rem;
        margin-bottom: 1rem; }
      body #page_wrap #work_wrap #work_list, html #page_wrap #work_wrap #work_list {
        list-style: none;
        margin: 0;
        padding: 0; }
        body #page_wrap #work_wrap #work_list li.featured, html #page_wrap #work_wrap #work_list li.featured {
          width: 100%;
          margin-right: 0; }
        body #page_wrap #work_wrap #work_list li, html #page_wrap #work_wrap #work_list li {
          display: inline-block;
          vertical-align: top;
          width: 48%;
          margin-right: 2%;
          margin-bottom: 3rem; }
          @media (max-width: 700px) {
            body #page_wrap #work_wrap #work_list li, html #page_wrap #work_wrap #work_list li {
              width: 100%;
              margin-right: 0; } }
          body #page_wrap #work_wrap #work_list li .image_wrap, html #page_wrap #work_wrap #work_list li .image_wrap {
            position: relative; }
            body #page_wrap #work_wrap #work_list li .image_wrap img, html #page_wrap #work_wrap #work_list li .image_wrap img {
              width: 100%; }
          body #page_wrap #work_wrap #work_list li .image_wrap:hover .hover_box, html #page_wrap #work_wrap #work_list li .image_wrap:hover .hover_box {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.3);
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            transition: background-color 0.3s ease; }
          body #page_wrap #work_wrap #work_list li h3, html #page_wrap #work_wrap #work_list li h3 {
            font-size: 1.3rem;
            font-weight: 700;
            margin-top: 0.5rem;
            margin-bottom: 0;
            transition: color 0.1s ease; }
          body #page_wrap #work_wrap #work_list li h3:hover, html #page_wrap #work_wrap #work_list li h3:hover {
            color: #4DD0E1;
            text-decoration: line-through; }
          body #page_wrap #work_wrap #work_list li p, html #page_wrap #work_wrap #work_list li p {
            margin-top: 0.3rem;
            margin-bottom: 0;
            height: 3rem;
            height: auto; }
        body #page_wrap #work_wrap #work_list li:nth-child(2n+1), html #page_wrap #work_wrap #work_list li:nth-child(2n+1) {
          margin-right: 0; }
    body #page_wrap #about_wrap, html #page_wrap #about_wrap {
      padding-top: 5rem;
      padding-bottom: 10rem; }
      body #page_wrap #about_wrap #headshot, html #page_wrap #about_wrap #headshot {
        float: left;
        width: 35%;
        padding-right: 10%; }
        body #page_wrap #about_wrap #headshot img, html #page_wrap #about_wrap #headshot img {
          width: 100%;
          border-radius: 50%; }
        @media (max-width: 700px) {
          body #page_wrap #about_wrap #headshot, html #page_wrap #about_wrap #headshot {
            width: 100%;
            float: none;
            padding: 0; } }
      body #page_wrap #about_wrap #description, html #page_wrap #about_wrap #description {
        float: left;
        width: 54%; }
        @media (max-width: 700px) {
          body #page_wrap #about_wrap #description, html #page_wrap #about_wrap #description {
            width: 100%;
            float: none;
            padding: 0; } }
        body #page_wrap #about_wrap #description p, html #page_wrap #about_wrap #description p {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 2.1rem; }
          body #page_wrap #about_wrap #description p a, html #page_wrap #about_wrap #description p a {
            color: #4DD0E1; }
          body #page_wrap #about_wrap #description p a:hover, html #page_wrap #about_wrap #description p a:hover {
            color: #00BCD4;
            text-decoration: line-through; }
        body #page_wrap #about_wrap #description h4, html #page_wrap #about_wrap #description h4 {
          font-size: 1.5rem;
          margin-bottom: 0.5rem; }
        body #page_wrap #about_wrap #description ul, html #page_wrap #about_wrap #description ul {
          margin: 0;
          padding: 0;
          list-style: none;
          font-size: 1.2rem; }
          body #page_wrap #about_wrap #description ul li, html #page_wrap #about_wrap #description ul li {
            margin-top: 0.5rem; }
          body #page_wrap #about_wrap #description ul a, html #page_wrap #about_wrap #description ul a {
            color: #4DD0E1; }
          body #page_wrap #about_wrap #description ul a:hover, html #page_wrap #about_wrap #description ul a:hover {
            color: #00BCD4;
            text-decoration: line-through; }
    body #page_wrap #about_wrap:after, html #page_wrap #about_wrap:after {
      clear: both;
      content: "";
      display: block; }
    body #page_wrap .detail_page, html #page_wrap .detail_page {
      padding-bottom: 100px;
      font-size: 1.1rem; }
      body #page_wrap .detail_page a, html #page_wrap .detail_page a {
        color: #4DD0E1; }
      body #page_wrap .detail_page a:hover, html #page_wrap .detail_page a:hover {
        color: #00BCD4;
        text-decoration: line-through; }
      body #page_wrap .detail_page .title_section, html #page_wrap .detail_page .title_section {
        margin-bottom: 5rem; }
        body #page_wrap .detail_page .title_section .project_title, html #page_wrap .detail_page .title_section .project_title {
          font-size: 6rem;
          margin-bottom: 0; }
          @media (max-width: 700px) {
            body #page_wrap .detail_page .title_section .project_title, html #page_wrap .detail_page .title_section .project_title {
              font-size: 3rem; } }
        body #page_wrap .detail_page .title_section .project_categorizations, html #page_wrap .detail_page .title_section .project_categorizations {
          list-style: none;
          margin: 10px 0 0 0;
          padding: 0; }
          body #page_wrap .detail_page .title_section .project_categorizations li, html #page_wrap .detail_page .title_section .project_categorizations li {
            font-size: 1.2rem;
            display: inline;
            color: #333;
            margin-right: 1.5rem; }
      body #page_wrap .detail_page h2, html #page_wrap .detail_page h2 {
        font-size: 24px;
        margin-top: 4rem; }
      body #page_wrap .detail_page p, html #page_wrap .detail_page p {
        font-size: 1.1rem;
        max-width: 600px;
        line-height: 1.8rem;
        margin-top: 1.5rem;
        margin-bottom: 2rem;
        color: #333; }
      body #page_wrap .detail_page ol, html #page_wrap .detail_page ol {
        max-width: 600px; }
        body #page_wrap .detail_page ol li, html #page_wrap .detail_page ol li {
          margin-bottom: 15px; }
      body #page_wrap .detail_page .portfolio_image, html #page_wrap .detail_page .portfolio_image {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 3rem; }
        body #page_wrap .detail_page .portfolio_image img, html #page_wrap .detail_page .portfolio_image img {
          border: 1px solid #f0f0f0;
          width: 100%; }
        body #page_wrap .detail_page .portfolio_image .caption, html #page_wrap .detail_page .portfolio_image .caption {
          font-size: 1rem;
          font-weight: 700;
          margin-top: 0.5rem;
          display: block;
          color: #333; }
      body #page_wrap .detail_page .portfolio_image.third, html #page_wrap .detail_page .portfolio_image.third {
        width: 30%;
        margin-right: 1%; }
      body #page_wrap .detail_page .portfolio_image.half, html #page_wrap .detail_page .portfolio_image.half {
        width: 46%;
        margin-right: 2%; }
      body #page_wrap .detail_page .portfolio_image.full, html #page_wrap .detail_page .portfolio_image.full {
        width: 98%;
        margin-right: 1%; }
      body #page_wrap .detail_page .portfolio_image.three_quarters, html #page_wrap .detail_page .portfolio_image.three_quarters {
        width: 75%;
        margin-right: 5%; }
      body #page_wrap .detail_page .portfolio_image.fourth, html #page_wrap .detail_page .portfolio_image.fourth {
        width: 22%;
        margin-right: 1%; }
      body #page_wrap .detail_page .project_nav, html #page_wrap .detail_page .project_nav {
        width: 100%;
        margin: 0;
        padding: 0;
        border-top: 3px solid #333;
        color: #dadada;
        clear: both; }
        body #page_wrap .detail_page .project_nav .project_link, html #page_wrap .detail_page .project_nav .project_link {
          margin: 0;
          padding: 0;
          width: 50%;
          display: inline-block;
          vertical-align: top; }
          body #page_wrap .detail_page .project_nav .project_link h3, html #page_wrap .detail_page .project_nav .project_link h3 {
            color: #333;
            margin-top: 5px;
            font-size: 1.5em; }
          body #page_wrap .detail_page .project_nav .project_link h4, html #page_wrap .detail_page .project_nav .project_link h4 {
            color: #d0d0d0;
            margin-bottom: 5px;
            font-size: 1.2em;
            font-weight: 400; }
        body #page_wrap .detail_page .project_nav .previous, html #page_wrap .detail_page .project_nav .previous {
          text-align: left; }
        body #page_wrap .detail_page .project_nav .next, html #page_wrap .detail_page .project_nav .next {
          text-align: right; }
    body #page_wrap #footer_wrap, html #page_wrap #footer_wrap {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      background-color: #f7f7f7; }
      body #page_wrap #footer_wrap .container, html #page_wrap #footer_wrap .container {
        padding-top: 1.5rem; }

/*# sourceMappingURL=main.css.map */
