@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 10pt Lato, sans-serif;
  background-color: #ededed; }
  body #header {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto;
    color: #2c2c2c;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 75px; }
    body #header:after {
      content: "";
      display: table;
      clear: both; }
    body #header #name {
      font-size: 2em;
      text-align: right; }
      body #header #name a {
        text-decoration: none;
        color: #2c2c2c;
        font-size: 1em;
        float: right; }
      body #header #name a:hover {
        color: #0081ff; }
    body #header ul {
      padding-left: 0; }
      body #header ul li {
        display: inline;
        padding-right: 50px;
        padding-left: 0;
        margin-left: 0; }
        body #header ul li a {
          text-decoration: none;
          color: #2c2c2c;
          font-size: 1.2em; }
    body #header a:hover {
      color: zach-blue; }
  body #grid {
    max-width: 930px;
    margin-left: auto;
    margin-right: auto; }
    body #grid:after {
      content: "";
      display: table;
      clear: both; }
    body #grid #description {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      font-size: 3em;
      font-weight: 700;
      line-height: 50px; }
      body #grid #description:last-child {
        margin-right: 0; }
      @media screen and (max-width: 640px) {
        body #grid #description {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%;
          margin-right: 0; }
          body #grid #description:last-child {
            margin-right: 0; } }
    body #grid .box {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%;
      position: relative;
      height: 200px;
      background-color: white;
      margin-bottom: 15px; }
      body #grid .box:last-child {
        margin-right: 0; }
      body #grid .box:nth-child(2n) {
        margin-right: 0; }
      body #grid .box:nth-child(2n+1) {
        clear: left; }
      @media screen and (max-width: 640px) {
        body #grid .box {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%;
          margin-right: 0; }
          body #grid .box:last-child {
            margin-right: 0; } }
    body #grid .box:after {
      content: '\A';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #0080ff;
      opacity: .6;
      opacity: 0;
      transition: all 0.5s;
      -webkit-transition: all 0.5s; }
    body #grid .box:hover:after {
      opacity: 1; }
