@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0 10px;
  padding: 0;
  width: 100%;
  font: 10pt Lato, sans-serif;
  background-color: #ededed; }

#header {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto;
  color: #2c2c2c;
  font-weight: 700;
  margin-bottom: 75px;
  margin-top: 15px; }
  #header:after {
    content: "";
    display: table;
    clear: both; }
  #header #name {
    font-size: 3em;
    text-align: right; }
    #header #name a {
      text-decoration: none;
      color: #2c2c2c;
      float: right; }
    #header #name a:hover {
      color: #0081ff; }
  #header ul {
    padding-left: 0;
    margin-top: 20px;
    float: left; }
    #header ul li {
      display: inline;
      padding-right: 25px;
      padding-left: 0;
      margin-left: 0; }
      #header ul li a {
        text-decoration: none;
        color: #2c2c2c;
        font-size: 1.2em; }
  #header a:hover {
    color: #0080ff; }

#grid {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto; }
  #grid:after {
    content: "";
    display: table;
    clear: both; }
  #grid #description {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    font-size: 3em;
    font-weight: 700;
    line-height: 50px; }
    #grid #description:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      #grid #description {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        margin-right: 0; }
        #grid #description:last-child {
          margin-right: 0; } }
  #grid .box {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    height: 200px;
    background-color: white;
    display: relative; }
    #grid .box:last-child {
      margin-right: 0; }
    @media screen and (max-width: 640px) {
      #grid .box {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%;
        margin-right: 0; }
        #grid .box:last-child {
          margin-right: 0; } }
    #grid .box .hover-content {
      display: none; }
  #grid .box:hover {
    text-align: center;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear; }
    #grid .box:hover .hover-content {
      display: inline;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      height: 100%;
      padding-top: auto;
      padding-bottom: auto;
      background-color: #0080ff;
      opacity: .7;
      color: white; }
      #grid .box:hover .hover-content:last-child {
        margin-right: 0; }
