@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font: 10pt Lato, sans-serif;
  background-color: #FAFAFA; }
  body a {
    text-decoration: none;
    color: #03a9f4; }
  body a:hover {
    color: #0277BD; }

.body:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.header {
  width: 33%;
  float: left;
  padding-right: 5%;
  color: #2c2c2c;
  font-weight: 700;
  margin: 0;
  padding-top: 25px;
  text-align: right; }
  .header .name {
    font-size: 6em; }
    .header .name a {
      text-decoration: none;
      color: #2c2c2c; }
      .header .name a h1 {
        margin-top: 0;
        font-size: 75px;
        margin-bottom: 47px; }
    .header .name img {
      width: 100%; }
  .header ul {
    padding-left: 0;
    list-style-type: none; }
    .header ul li {
      padding: 0;
      margin-left: 0;
      font-size: 14px;
      font-weight: 400; }
      .header ul li a {
        text-decoration: none;
        color: #2c2c2c;
        font-size: 1.2em; }
    .header ul li:last-child {
      padding-right: 0; }
  .header a:hover {
    color: #03a9f4; }

.page_wrap {
  width: 67%;
  float: right;
  padding-right: 5%;
  margin: 0;
  margin-top: 30px; }

.page_wrap h2 {
  font-size: 3em;
  margin: 0 0 60px 0; }
.page_wrap .item {
  width: 24%;
  margin-bottom: 10px; }
  .page_wrap .item img {
    width: 100%; }

.page_wrap .about_header {
  margin-bottom: 50px; }
.page_wrap .about {
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 50px; }
.page_wrap .box {
  width: 47%;
  margin-right: 5%;
  position: relative;
  float: left;
  height: 250px;
  background-color: white;
  postition: relative;
  margin-bottom: 50px; }
  .page_wrap .box .hover-content {
    display: none; }
    .page_wrap .box .hover-content .hover-link {
      margin-top: 90px;
      margin-left: auto;
      margin-right: auto;
      font-size: 45px;
      font-weight: 700;
      color: #2c2c2c; }
.page_wrap .box_wrap:nth-child(odd) .box {
  margin-right: 0; }
.page_wrap .box:hover {
  text-align: center;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear; }
  .page_wrap .box:hover .hover-content {
    display: inline;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7); }
.page_wrap #inspiration-box {
  background-image: url("../images/inspiration.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
.page_wrap #photography-box {
  background-image: url("../images/photography.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
